
# .github/workflows/ci.yml

name: Single-Stage

on:
  push:
    branches: ['master']
  pull_request:
    branches: ['master']
jobs:
  Linter:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use NodeJS
        uses: actions/setup-node@v1
        with:
          node-version: 14.x
      - run: npm install
      - run: npm run linter
